body {
    background: #FECD1A;
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #325288;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #FECD1A;
    font-size: 30px;
    text-transform: uppercase;
    border-left: 4px solid #FECD1A;
    padding: 20px;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    color: #000;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #000;
  }
  
  .app-form-control:focus {
    border-bottom-color: #000;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #FECD1A;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
  }
  
  .app-form-button:hover {
    color: #c09618;
  }
  
  .showdata{
    text-align: center;
    color: black;
    font-size: 1.2rem;
    padding-top: -10px;
    padding-bottom: 10px;
  }